*{
    margin: 0;
    padding: 0;
}
.main{

}
.top{
    position: relative;
    background-color: bisque;
    overflow: hidden;
   width: 100%;
    height: 5vh;
    white-space: nowrap;
}
.scroll{
    padding-left: 150px;
    padding-top: 5px;
    position: absolute;
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0;
    animation: moveLeft 9s infinite;
}
.scroll:nth-child(1){animation-delay: 0s;}
.scroll:nth-child(2){animation-delay: 3s;}
.scroll:nth-child(3){animation-delay: 6s;}

@keyframes moveLeft{
    0% {transform: translateX(100%); opacity: 0%;}
    10% {transform: translateX(0); opacity: 1; z-index: 1;}
    30% {transform: translateX(0); opacity: 1; z-index: 1;}
    40% {transform: translateX(-100%); opacity: 0;}
    100% {opacity: 0;;}



}

/* nav  */
.nav{
    background-color: rgb(50, 47, 47);
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    gap: 10px;
    transition: background-color 0.3s ease,box-shadow 0.3s ease;
}
.nav.scrolled{
 background-color: white;
 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.navimages{
    display: flex;
    gap: 30px;
}
.logo{
    width: 300px;
    height: 100px;
}
.nav-img{
    width: 30px;
    height: 50px;
}
.nav-content{
    display: flex;
    gap: 20px;
}
.select{
    padding-left: 50px;
    border: none;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    width:  150px;

}
.select:hover{
    color: #ff4d8f;
    border: none;

}
.select option{
    background-color: black;
    border: none;
    color: white;
    font-size: x-large;
}
.txt{
    color: white;
    font-size: large;
}
.txt:hover{
    color: #ff4d8f;
}
.inputbox input{
  padding: 10px;
  background-color: transparent;
 border: 1px solid white;
}
.nav-img:hover{
  border-color: #ff4d8f;
}
@media screen and (max-width: 1280px){
    /* .top{
        width: 1280px;
    }
   .nav{
    width: 1280px;
   } */
   .inputbox{
    display: block;
    padding-top: 150px;
   }
   .navimages{
    padding-right: 100px;
   }
   .txt{
    font-size: small;
   }
   .nav-content{
    padding-left: 80px;
    gap: 5px;
   }
   .first{
   
    background-image: url(./banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }
}
@media screen and (max-width: 1140px){
    .inputbox{
        display: none;
    }
    .nav-content{
        display: none;
    }
}

/* naav */

.first{
    
    padding-top: 10px;
    width: 100%;
   height: 80vh;
    background-image: url(./banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:local;
    /* padding-top: 200px; */
   /* object-fit: cover; */
  
}
.content1{
    padding-left: 400px;
    padding-top: 50px;
}
.img-logo{
    width: 20vw;
    height: 20vh;
    
}
.first h1{
    color: white;
    font-size: 50px;
    font-weight: bold;

}
.btns{
    padding-top: 30px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.first button{
    padding:10px 30PX;
}