*{
    margin: 0;
    padding: 0;
}
.main{

}
.top{
    position: relative;
    background-color: bisque;
    overflow: hidden;
   width: 100%;
    height: 5vh;
    white-space: nowrap;
}
.scroll{
    padding-left: 150px;
    padding-top: 5px;
    position: absolute;
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0;
    animation: moveLeft 9s infinite;
}
.scroll:nth-child(1){animation-delay: 0s;}
.scroll:nth-child(2){animation-delay: 3s;}
.scroll:nth-child(3){animation-delay: 6s;}

@keyframes moveLeft{
    0% {transform: translateX(100%); opacity: 0%;}
    10% {transform: translateX(0); opacity: 1; z-index: 1;}
    30% {transform: translateX(0); opacity: 1; z-index: 1;}
    40% {transform: translateX(-100%); opacity: 0;}
    100% {opacity: 0;;}



}

/* nav  */
.nav{
    background-color: rgb(50, 47, 47);
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease,box-shadow 0.3s ease;
}
.menubar{
    width: 50px;
    height: 70px;
    display: none;
}
.nav.scrolled{
 background-color: white;
 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.navimages{
    display: flex;
    gap: 30px;
}
.logo{
    width: 300px;
    height: 100px;
}
.nav-img{
    width: 30px;
    height: 50px;
}
.nav-content{
    display: flex;
    gap: 20px;
}
.select{
    padding-left: 50px;
    border: none;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    width:  150px;

}
.select:hover{
    color: #ff4d8f;
    border: none;

}
.select option{
    background-color: black;
    border: none;
    color: white;
    font-size: x-large;
}
.txt{
    color: white;
    font-size: large;
}
.txt:hover{
    color: #ff4d8f;
}
.inputbox input{
  padding: 10px;
  background-color: transparent;
 border: 1px solid white;
}
.nav-img:hover{
  border-color: #ff4d8f;
}
@media screen and (max-width: 1280px){
    /* .top{
        width: 1280px;
    }
   .nav{
    width: 1280px;
   } */
   .inputbox{
    display: block;
    padding-top: 150px;
   }
   .navimages{
    padding-right: 100px;
   }
   .txt{
    font-size: small;
   }
   .nav-content{
    padding-left: 80px;
    gap: 5px;
   }
   .first{
   
    background-image: url(./banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }
}
@media screen and (max-width: 1140px){
    .inputbox{
        display: none;
    }
    .nav-content{
        display: none;
    }
    .menubar img{
        width: 50px;
        height: 50px;
    }
    .menubar{
        display: inline;
        
    }
    

}

/* naav */

.first{
    
    padding-top: 10px;
    width: 100%;
   height: 80vh;
    background-image: url(./banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:local;
    /* padding-top: 200px; */
   /* object-fit: cover; */
  
}
.content1{
    padding-left: 400px;
    padding-top: 50px;
}
.img-logo{
    width: 20vw;
    height: 20vh;
    
}
.first h1{
    color: white;
    font-size: 50px;
    font-weight: bold;

}
.btns{
    padding-top: 30px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.first button{
    padding:10px 30PX;
}
.cards-round{
    padding-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
.cards img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
}
.selling-products{
    width: 100%;
    height: 100vh;
}
.selling-products h1{
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 50px;
}
.sell-cards{
    padding-top: 30px;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 500px;
}
.sell-cards button{
    padding:10px 20px;
    color: gray;
}
.sell-cards h2{
    font-size: large;
    font-weight: bold;
}
.wish{
    width: 20px;
    height: 20px;
}
.pp{
    display: flex;
}.pp p{
    width: 250px;
    /* font-weight: bold; */
    font-size: larger;
    color: gray;
}
.selling-img img{
    width: 300px;
    height: 300px;
}
.browse-btn{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.browse-btn button{
    padding:10px 20px;
    color: gray;
    font-size: larger;
}
.newarivals h1{
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 50px;
}
.newarivals{
    padding-top: 30px;
    width: 100%;
    height: 100vh;
}
.cards2{
     /* padding-top: 30px; */
    /* padding-left: 50px; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    height: 500px;
}
.newarivals-cards{
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 50px;
align-items: center;
}
.arrival-img img{
width: 300px;
    height: 300px;
}
.newarivals-cards button{
     padding:10px 20px;
    color: gray;
}
.last{
    padding-top: 500px;
}
.laast{
width: 100%;
height: 400px;
    background-color: black;
    position: absolute;
     display: flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.rights{
    color: white;
}
.cards3{
    padding-top: 30px;
   display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-left: 100px;
}
.para{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.social{
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.social img{
    background-color: white;
    width: 30px;
    height:30px;
    border-radius: 10px;
}
.cards3 p{
    color: gray;
    font-size: medium;
}
.cards3 h1{
  
    color: gray;
    font-size: x-large;
    font-weight: 400;
}
.contactus{
    padding-bottom: 30px;
    /* padding-top: 30px; */
}
.contact{
    padding-bottom: 10px;
}